<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/83994288-676d-4fc8-86e0-c7cb44ba3282/resourceGroups/poc-tfstate/providers/Microsoft.ContainerRegistry/registries/mainappacrbh</ResourceId>
    <ResourceName>mainappacrbh</ResourceName>
    <ResourceGroup>poc-tfstate</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://mainappacrbh.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>de19e879-6e4c-41df-9e96-5779b56288dd</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>